#root {
  max-width: 1280px;
  margin: 0 ;
  text-align: center;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  font-family: 'Roboto', sans-serif;
}

